npm-debug.log*
*node_modules*
*_temp*
test/referenceScreenshots*
test/**/reference-diffs/
test/**/reference-errors/
screenshot-catalog.json
test-run-report.json
bc-test
**/*.conf.js
bc-test*.js
babel-temp.js
lint.txt
*___fatal.png
.vscode
# ts-dist/
run.log
